<div class="container-fluid">
      <div cdkDropListGroup>
        <div class="state-container" style="text-align: center;" *ngFor="let state of states">
          <h3>{{state}}</h3>
          <div
          cdkDropList
          [cdkDropListData]="state"
          class="state-list"
          (cdkDropListDropped)="drop($event)">
              <div 
              cdkDrag 
              [cdkDragData]="task" 
              class="state-box" 
              *ngFor="let task of tasks| taskfilter: state" 
              (click)="open(task)">
                [{{projectShortName}}-{{task.id}}] {{task.name}}
              </div>
          </div>
        </div>
      </div>
</div>