<div class="right">
  <button mat-fab color="primary" (click)="close()"><mat-icon>close</mat-icon></button>
</div>
<div [ngSwitch]="dialogType">
    <h1 *ngSwitchCase="dialogTypeEnum.NEW">Create a new task</h1>
    <h1 *ngSwitchCase="dialogTypeEnum.EDIT">Edit task #{{task.id}}</h1>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
    <p>
      <mat-form-field appearance="standard" style="width: 80%;">
        <mat-label>Task Name</mat-label>
        <input required matInput placeholder="enter a task name" formControlName="name" cdkFocusInitial>
    </mat-form-field>
    </p>
    <p>
    <mat-form-field appearance="standard" style="width: 80%;">
        <mat-label>Description</mat-label>
        <textarea required matInput placeholder="enter a description" formControlName="description" style="width: 100%; height:200px" ></textarea>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
        <mat-label>State</mat-label>
        <mat-select required formControlName="state">
          <mat-option *ngFor="let state of states" [value]="state">
            {{state}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </p> 
  <p>
    <mat-form-field appearance="standard">
        <mat-label>Assignee</mat-label>
        <mat-select formControlName="assigneeName" >
          <mat-option value=null>None</mat-option>
          <mat-option *ngFor="let assignee of userNames" [value]="assignee" >
            {{assignee}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </p> 
  <button *ngIf="dialogType==dialogTypeEnum.EDIT" mat-raised-button color="warn" type="button" (click)="delete()">Delete</button>
  <button class="right" mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Save</button>
</form>
